{% extends 'flaskfarmaider.html' %}
{% block content %}
{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
{% set sources = ({'request': {'title': '복사 요청 목록'}, 'fp': {'title': 'GDS 변경사항 목록'}}) %}

<form id="setting">
    <div class="row">
    {% for k, v in sources.items() %}
        <div class="col">
            <h3>{{ v.title }}</h3>
            <h4>총 레코드: <span class="badge badge-info" id="tool_gds_tool_{{ k }}_total">0</span></h4>
            <br />
            <br />
            <div class="form-row">
                <label for="tool_gds_tool_{{ k }}_span" class="col-sm-4 col-form-label text-right font-weight-bold">잔여 기간</label>
                <input type="text" class="col-sm-4 form-control col" id="tool_gds_tool_{{ k }}_span" name="tool_gds_tool_{{ k }}_span" placeholder="days" />
                <div class="">
                    <button class="btn btn-warning" type="button" id="tool_gds_tool_{{ k }}_del">삭제</button>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-sm-4"></div><div class=""><em>오늘부터 잔여 기간(일) 까지만 남기고 삭제<br />전체 삭제는 0 입력</em></div>
            </div>
            <div class="form-row">
                <label for="tool_gds_tool_{{ k }}_auto" class="col-sm-4 col-form-label text-right font-weight-bold">자동 삭제</label>
                <input id="tool_gds_tool_{{ k }}_auto" name="tool_gds_tool_{{ k }}_auto" type="checkbox" class="form-control" data-toggle="toggle" />
            </div>
            <div class="form-row">
                <div class="col-sm-4"></div><div class=""><em>자동으로 기간 적용 삭제</em></div>
            </div>
        </div>
    {% endfor %}
    </div>
</form>
<script type="text/javascript">
    var TOOL_GDS_TOOL_REQUEST_SPAN = JSON.parse('{{ args.tool_gds_tool_request_span|int }}');
    var TOOL_GDS_TOOL_REQUEST_AUTO = JSON.parse('{{ args.tool_gds_tool_request_auto|lower }}');
    var TOOL_GDS_TOOL_REQUEST_TOTAL = JSON.parse('{{ args.tool_gds_tool_request_total|int }}');
    var TOOL_GDS_TOOL_FP_SPAN = JSON.parse('{{ args.tool_gds_tool_fp_span|int }}');
    var TOOL_GDS_TOOL_FP_AUTO = JSON.parse('{{ args.tool_gds_tool_fp_auto|lower }}');
    var TOOL_GDS_TOOL_FP_TOTAL = JSON.parse('{{ args.tool_gds_tool_fp_total|int }}');
    $(function() {
        init_gds_tool();
    });
</script>
{% endblock %}