{% extends 'flaskfarmaider.html' %}
{% block content %}

<form id="setting">
    <div class="col">
        <div class="form-row">
            <label for="tool_login_log_enable" class="col-sm-2 col-form-label text-right font-weight-bold">로그 활성화</label>
            <input id="tool_login_log_enable" name="tool_login_log_enable" type="checkbox" data-toggle="toggle" class="form-control">
        </div>
        <div class="form-row">
            <div class="col-sm-2"></div><div class=""><em>{{ args.tool_login_log_file }}</em></div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var TOOL_LOGIN_LOG_ENABLE = JSON.parse('{{ args.tool_login_log_enable|lower }}');
    $(function() {
        init_tool_login_log();
    });
</script>
{% endblock %}
