{% extends 'flaskfarmaider.html' %}
{% block content %}

{% set vfses = [] %}
{% for vfs in args[module_name + '_rclone_remote_vfses'].split('|') %}
    {{ vfses.append([vfs, vfs]) or '' }}
{% endfor %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
{{ macros.m_tab_head_start() }}
{{ macros.m_tab_head('rcloneremote', 'Rclone Remote', true) }}
{{ macros.m_tab_head('plexmate', 'Plexmate', false) }}
{{ macros.m_tab_head('gds_tool', '구드공 툴', false) }}
{{ macros.m_tab_head('startup', '시작 스크립트', false) }}
{{ macros.m_tab_head('logging', '기타 로그', false) }}
{{ macros.m_tab_head_end() }}
</nav>
<form id="setting">
<div class="tab-content" id="nav-tabContent">
{{ macros.m_tab_content_start('rcloneremote', true) }}
    {{ macros.setting_input_text_and_buttons(
        module_name + '_rclone_remote_addr',
        'Rclone Remote 주소 (필수)',
        [['btn_test_connection_rclone', '접속 확인']],
        value=args[module_name + '_rclone_remote_addr'],
        desc=['rclone remote의 주소', 'ex. http://172.17.0.1:5572'],
        col='8'
    ) }}
    {{ macros.setting_select(
        module_name + '_rclone_remote_vfs',
        'vfs 리모트',
        vfses,
        col='3',
        desc=['"접속 확인" 성공시 목록이 갱신됩니다.'],
        value=args[module_name + '_rclone_remote_vfs']
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_text(
        module_name + '_rclone_remote_user',
        'User (선택)',
        value=args[module_name + '_rclone_remote_user'],
        col='3',
        desc=['Remote 접속에 필요한 사용자 이름','--rc-user=username', '사용하지 않을 경우 공백으로 남겨두세요.']
    ) }}
    {{ macros.setting_input_text(
        module_name + '_rclone_remote_pass',
        'Pass (선택)',
        value=args[module_name + '_rclone_remote_pass'],
        col='3',
        desc=['Remote 접속에 필요한 비밀번호', '--rc-pass=password', '사용하지 않을 경우 공백으로 남겨두세요.'],
        type='password'
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_textarea(
        module_name + '_rclone_remote_mapping',
        '경로 변경 규칙 (필수)',
        value=args[module_name + '_rclone_remote_mapping'],
        desc=[
            '로컬 경로를 리모트 경로로 변경할 때 적용할 규칙들',
            '줄바꿈으로 각 규칙 구분',
            '',
            '/변경할/로컬/경로:/변경될/리모트/경로',
            '',
            'ex.',
            '로컬 경로: /mnt/gds/VOD/1.방송중/드라마',
            '리모트 경로: VOD/1.방송중/드라마',
            '로컬 경로에서 /mnt/gds 부분을 삭제해야 하므로',
            '/mnt/gds:'
        ],
        col='8',
        row='5'
    ) }}
{{ macros.m_tab_content_end() }}
{{ macros.m_tab_content_start('plexmate', false) }}
    {{ macros.setting_input_text(
        module_name + '_plexmate_max_scan_time',
        '최대 스캔 시간',
        value=args[module_name + '_plexmate_max_scan_time'],
        col='3',
        desc=['분 단위', 'Plexmate의 SCANNING 상태가 이 시간을 초과하여 지속될 경우 스캔 실패로 간주합니다.']
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons(
        module_name + '_plexmate_timeover_range',
        '타임오버 항목 점검',
        [[module_name + '_plexmate_timeover_btn', '지금 실행']],
        value=args[module_name + '_plexmate_timeover_range'],
        col='5',
        desc=[
            'Plexmate의 TIMEOVER된 항목들 중 이 ID 범위내 항목들을 다시 READY로 변경합니다.',
            '~로 범위 표시: e.g. 100~110',
            '100, 101, 102 ... 107, 108, 109, 110'
            ''
        ]
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_textarea(
        module_name + '_plexmate_plex_mapping',
        'PLEX 경로 변경 규칙',
        value=args[module_name + '_plexmate_plex_mapping'],
        desc=[
            'FF의 경로와 플렉스 경로가 다를 경우 적용할 규칙들',
            '줄바꿈으로 각 규칙 구분',
            '',
            '/변경할/로컬/경로:/변경될/플렉스/경로',
            '',
            'ex.',
            '로컬 경로: /mnt/gds/VOD/1.방송중/드라마',
            '플렉스 경로: /gdrive/VOD/1.방송중/드라마',
            '로컬 경로에서 /mnt/gds 부분을 /gdrive 로 변경해야 하므로',
            '/mnt/gds:/gdrive'
        ],
        col='8',
        row='5'
    ) }}
{{ macros.m_tab_content_end() }}
{{ macros.m_tab_content_start('startup', false) }}
    {{ macros.setting_checkbox(
        module_name + '_startup_executable',
        '실행 허용',
        args[module_name + '_startup_executable'],
        desc=['명령어 실행 허용 여부', '로그에서 실행될 명령어 목록을 보고 실행 여부를 결정하세요.']
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_textarea(
        module_name + '_startup_commands',
        '실행할 명령어',
        value=args[module_name + '_startup_commands'],
        desc=['간단한 쉘 커맨드를 한 줄씩 입력하세요.', 'ex.', 'apt-get update', 'cmd.exe /c calc'],
        col='12',
        row='5'
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_text(
        module_name + '_startup_timeout',
        '명령어 최대 대기 시간',
        value=args[module_name + '_startup_timeout'],
        col='3',
        desc=['초 단위', '각 명령어의 최대 대기시간입니다.']
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_input_textarea(
        module_name + '_startup_dependencies',
        '플러그인 의존성 목록',
        value=args[module_name + '_startup_dependencies'],
        desc=[
        '../data/db/flaskfarmaider.yaml 파일을 수정하거나 여기에 yaml 문법으로 작성해 주세요.',
        'ex.',
        '플러그인:',
        'repo: 플러그인 저장소',
        'plugins: [필요한 플러그인1, 필요한 플러그인2, ...]',
        'packages: [필요한 패키지1, 필요한 패키지2, ...]',
        'commands: [필요한 명령어1, 필요한 명령어2, ...]'
        ],
        col='12',
        row='20'
    ) }}
{{ macros.m_tab_content_end() }}
{{ macros.m_tab_content_start('gds_tool', false) }}
    {% set sources = ({'request': {'title': '복사 요청 목록'}, 'fp': {'title': 'GDS 변경사항 목록'}}) %}
    {{ macros.m_row_start('5') }}
    {{ macros.m_row_end() }}
        <div class="row">
        {% for k, v in sources.items() %}
            <div class="col">
                <h3>{{ v.title }}</h3>
                <h4>총 레코드: <span class="badge badge-info" id="setting_gds_tool_{{ k }}_total">0</span></h4>
                <br />
                <br />
                <div class="form-row">
                    <label for="setting_gds_tool_{{ k }}_span" class="col-sm-4 col-form-label text-right font-weight-bold">잔여 기간</label>
                    <input type="text" class="col-sm-4 form-control col" id="setting_gds_tool_{{ k }}_span" name="setting_gds_tool_{{ k }}_span" placeholder="days" />
                    <div class="">
                        <button class="btn btn-warning" type="button" id="setting_gds_tool_{{ k }}_del">삭제</button>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-sm-4"></div><div class=""><em>오늘부터 잔여 기간(일) 까지만 남기고 삭제<br />전체 삭제는 0 입력</em></div>
                </div>
                <div class="form-row">
                    <label for="setting_gds_tool_{{ k }}_auto" class="col-sm-4 col-form-label text-right font-weight-bold">자동 삭제</label>
                    <input id="setting_gds_tool_{{ k }}_auto" name="setting_gds_tool_{{ k }}_auto" type="checkbox" class="form-control" data-toggle="toggle" />
                </div>
                <div class="form-row">
                    <div class="col-sm-4"></div><div class=""><em>자동으로 기간 적용 삭제</em></div>
                </div>
            </div>
        {% endfor %}
        </div>
{{ macros.m_tab_content_end() }}
{{ macros.m_tab_content_start('logging', false) }}
    {{ macros.setting_checkbox(
        module_name + '_logging_login',
        '로그인 로그',
        args[module_name + '_logging_login'],
        desc=[args[module_name + '_logging_login_file']]
    ) }}
    {{ macros.m_hr() }}
    {{ macros.setting_checkbox(
        module_name + '_logging_access',
        '접속 로그',
        args[module_name + '_logging_access'],
        desc=['Flaskfarm의 접속 로그']
    ) }}
    {{ macros.setting_input_text(
        module_name + '_logging_access_file',
        '접속 로그 경로',
        value=args[module_name + '_logging_access_file'],
        col='8',
        desc=['접속 로그 파일의 경로']
    ) }}
    {{ macros.setting_input_text(
            module_name + '_logging_access_format',
            '접속 로그 형식',
            value=args[module_name + '_logging_access_format'],
            col='8',
            desc=[
                '{remote}: 클라이언트 IP',
                '{method}: HTTP 메소드 (GET, POST, ...)',
                '{path}: 요청 경로',
                '{status}: HTTP 상태 코드(200, 404, ...)',
                '{length}: 응답 크기',
                '{agent}: User-Agent',
            ]
        )
    }}
{{ macros.m_tab_content_end() }}
</div>
</form>

<script type="text/javascript">
    var VFS = "{{ args.setting_rclone_remote_vfs }}";
    var SETTING_GDS_TOOL_REQUEST_SPAN = JSON.parse('{{ args.setting_gds_tool_request_span|int }}');
    var SETTING_GDS_TOOL_REQUEST_AUTO = JSON.parse('{{ args.setting_gds_tool_request_auto|lower }}');
    var SETTING_GDS_TOOL_REQUEST_TOTAL = JSON.parse('{{ args.setting_gds_tool_request_total|int }}');
    var SETTING_GDS_TOOL_FP_SPAN = JSON.parse('{{ args.setting_gds_tool_fp_span|int }}');
    var SETTING_GDS_TOOL_FP_AUTO = JSON.parse('{{ args.setting_gds_tool_fp_auto|lower }}');
    var SETTING_GDS_TOOL_FP_TOTAL = JSON.parse('{{ args.setting_gds_tool_fp_total|int }}');
    var SETTING_LOGGING_LOGIN = JSON.parse('{{ args.setting_logging_login|lower }}');
    var SETTING_LOGGING_ACCESS = JSON.parse('{{ args.setting_logging_access|lower }}');

    $(function() {
        init();
        E_SETTING_TEST_CONN = $('#btn_test_connection_rclone');
        E_SETTING_VFSES = $('#setting_rclone_remote_vfs');

        E_SETTING_TEST_CONN.on('click', function (e) {
            globalSettingSave();
            e.preventDefault();
            globalSendCommand('command_test_connection', '', '', '', callback_test_connection);
        });

        function callback_test_connection(result) {
            if (result.ret == 'success') {
                console.log('Connection success');
                console.log(result.vfses);
                E_SETTING_TEST_CONN.text('접속 성공');
                E_SETTING_VFSES.empty();
                result.vfses.forEach(function(vfs) {
                    E_SETTING_VFSES.append($('<option></option>').prop('value', vfs).append(vfs));
                });
                E_SETTING_VFSES.prop('value', (VFS) ? VFS : result.vfses[0]);
            } else {
                console.log('Connection failed');
                console.log(result.ret);
                E_SETTING_TEST_CONN.text('접속 실패');
            }
        }

        E_GDS_TOOL_REQUEST_SPAN = $('#setting_gds_tool_request_span');
        E_GDS_TOOL_REQUEST_AUTO = $('#setting_gds_tool_request_auto');
        E_GDS_TOOL_REQUEST_TOTAL = $('#setting_gds_tool_request_total');
        E_GDS_TOOL_REQUEST_DEL = $('#setting_gds_tool_request_del');
        E_GDS_TOOL_FP_SPAN = $('#setting_gds_tool_fp_span');
        E_GDS_TOOL_FP_AUTO = $('#setting_gds_tool_fp_auto');
        E_GDS_TOOL_FP_TOTAL = $('#setting_gds_tool_fp_total');
        E_GDS_TOOL_FP_DEL = $('#setting_gds_tool_fp_del');

        E_GDS_TOOL_REQUEST_SPAN.prop('value', SETTING_GDS_TOOL_REQUEST_SPAN);
        E_GDS_TOOL_REQUEST_AUTO.bootstrapToggle(SETTING_GDS_TOOL_REQUEST_AUTO ? 'on' : 'off');
        E_GDS_TOOL_REQUEST_TOTAL.text(SETTING_GDS_TOOL_REQUEST_TOTAL);
        E_GDS_TOOL_FP_SPAN.prop('value', SETTING_GDS_TOOL_FP_SPAN);
        E_GDS_TOOL_FP_AUTO.bootstrapToggle(SETTING_GDS_TOOL_FP_AUTO ? 'on' : 'off');
        E_GDS_TOOL_FP_TOTAL.text(SETTING_GDS_TOOL_FP_TOTAL);

        E_GDS_TOOL_REQUEST_DEL.on('click', function(e) {
            span = E_GDS_TOOL_REQUEST_SPAN.prop('value');
            confirm_modal('복사 요청 목록을 삭제할까요?',
                '잔여 기간: ' + span,
                function() {
                    globalSendCommandPage('delete', 'request', span, '', null);
            });
        });

        E_GDS_TOOL_FP_DEL.on('click', function(e) {
            span = E_GDS_TOOL_FP_SPAN.prop('value');
            confirm_modal('변경사항 목록을 삭제할까요?',
                '잔여 기간: ' + span,
                function() {
                    globalSendCommandPage('delete', 'fp', span, '', null);
            });
        });

        E_PLEXMATE_TIMEOVER_RANGE = $('#setting_plexmate_timeover_range');
        E_PLEXMATE_TIMEOVER_BTN = $('#setting_plexmate_timeover_btn');
        E_PLEXMATE_TIMEOVER_BTN.on('click', function (e) {
            range = E_PLEXMATE_TIMEOVER_RANGE.prop('value');
            e.preventDefault();
            globalSendCommand('check_timeover', range, '', '', null);
        });
    });
</script>

{% endblock %}