{% extends 'flaskfarmaider.html' %}
{% block content %}
<div id="markdown">
    {{ args.manual }}
</div>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autorun=true&lang=css&lang=yaml&skin=sunburst"></script>
<script src="{{ url_for('static', filename='js/showdown_2.1.0.js') }}"></script>
<link href="{{ url_for('static', filename='css/showdown.css') }}" rel="stylesheet">
<style>
    pre {
        background-color: #000;
        padding: 10px;
    }
    pre code {
        color: #fff;
    }
</style>

<script src="{{ url_for('.static', filename='js/flaskfarmaider.js') }}"></script>
<script type="text/javascript">
    $(function() {
        const CONVERTER = new showdown.Converter();
        CONVERTER.setOption('tables', true);
        CONVERTER.setOption('strikethrough', true);
        CONVERTER.setOption('ghCodeBlocks',true);
        text = $('#markdown').text();
        html = CONVERTER.makeHtml(text);
        $('#markdown').html(html);

        $.getScript("{{ url_for('.static', filename='js/flaskfarmaider_common.js') }}")
    });
  </script>
{% endblock %}