{% extends 'flaskfarmaider.html' %}
{% block content %}
{{ macros.m_modal_start('sch-add-modal', '일정 추가', 'modal-lg') }}
<form id='sch-setting'></form>
{{ macros.m_modal_end_with_button(
  [
    ['sch-save-btn', '일정 저장'],
  ]
) }}
<form id="form_search">
    <div class="input-group">
        <div class="input-group-prepend">
            <select id="length" name="length" class="form-control w-50">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        <div class="input-group-prepend"></div>
            <select id="order" name="order" class="form-control">
                <option value="desc">최근 순</option>
                <option value="asc">오래된 순</option>
                <option value="ftime">최근 완료 순</option>
            </select>
            <select id="option1" name="option1" class="form-control">
                {% for key, value in args.searches.items() %}
                <option value="{{ key }}">{{ value.name }}</option>
                {% endfor %}
            </select>
            <select id="option2" name="option2" class="form-control">
                <option value="all">전체</option>
            </select>
        </div>
        <input id="keyword" name="keyword" class="form-control" type="text" placeholder="검색..." aria-label="Search">
        <div class="input-group-append">
            <div class="btn-group" role="group">
                <button type="button" id="globalSearchSearchBtn" class="btn btn-primary px-4">검색</button>
                <button type="button" id="SearchResetBtn" class="btn btn-outline-primary">리셋</button>
            </div>
        </div>
    </div>
</form>

<hr class="border border-secondary">

<div class="input-group-append">
    <button type="button" id="sch-add-btn" class="btn btn-block btn-primary mr-2">일정 추가</button>
    <button type="button" id="select-del" class="btn btn-outline-warning">선택 삭제</button>
</div>
<br />
<table id="sch-list-table" class="table table-hover table-sm table-striped align-bottom table-responsive-sm">
    <thead>
        <tr class="text-primary">
            <th scope="col" class="w-auto text-center"><input type="checkbox" class="btn-check" id="select-all" autocomplete="off"></th>
            <!-- <th scope="col" class="w-auto text-center"><a href="#selectall" class="badge badge-primary btn" id="select-all" data-toggle="button" aria-pressed="false">선택</a></th> -->
            <th scope="col" class="w-auto text-center">ID</th>
            <th scope="col" class="w-auto text-center">{{ args.searches[args.search_keys[0]].name }}</th>
            <th scope="col" class="w-auto">{{ args.searches[args.search_keys[1]].name }}</th>
            <th scope="col" class="w-auto text-center">{{ args.searches[args.search_keys[3]].name }}</th>
            <th scope="col" class="w-auto text-center">{{ args.searches[args.search_keys[4]].name }}</th>
            <th scope="col" class="w-auto text-center">최근 완료</th>
            <th scope="col" class="w-auto text-center">일정 방식</th>
            <th scope="col" class="w-auto text-center">활성화</th>
            <th scope="col" class="w-auto text-center">관리</th>
        </tr>
    </thead>
    <tbody class="table-group-divider align-middle accordion" id="sch-accordion">
    </tbody>
    <tfoot>
    </tfoot>
</table>

<div id="page1"></div>
<div id="page2" disalbed class="d-none"></div>

<hr class="border border-secondary">
<!-- browser -->
<div class="input-group mb-3">
    <input id="working-directory" placeholder="/home" type="text" value="{{ args[module_name ~ '_working_directory'] }}" class="form-control" />
    <div class="input-group-append">
        <button id="working-directory-submit" type="button" class="btn btn-outline-primary">이동</button>
    </div>
</div>
<br />

<table id="brw-list-table" class="table table-hover table-striped align-bottom">
    <thead>
        <tr class="text-primary">
            <th scope="col" class="w-75 pl-3">이름</th>
            <th scope="col" class="w-auto text-right">크기</th>
            <th scope="col" class="w-auto text-center pr-3">수정한 날짜</th>
        </tr>
    </thead>
    <thead class="dir-parent"></thead>
    <tbody class="table-group-divider align-middle"></tbody>
    <tfoot></tfoot>
</table>
<br />
<br />

<script type="text/javascript">
    // assign variables
    var TASKS = JSON.parse('{{ args.tasks|tojson }}');
    var TASK_KEYS = JSON.parse('{{ args.task_keys|tojson }}');
    var STATUSES = JSON.parse('{{ args.statuses|tojson }}');
    var STATUS_KEYS = JSON.parse('{{ args.status_keys|tojson }}');
    var FF_SCHEDULE_KEYS = JSON.parse('{{ args.ff_schedule_keys|tojson }}');
    var FF_SCHEDULES = JSON.parse('{{ args.ff_schedules|tojson }}');
    var LAST_LIST_OPTIONS = "{{ args[module_name ~ '_last_list_option'] }}".split('|');
    var VFS = "{{ args.setting_rclone_remote_vfs }}";
    var SCAN_MODES = JSON.parse('{{ args.scan_modes|tojson }}');
    var SCAN_MODE_KEYS = JSON.parse('{{ args.scan_mode_keys|tojson }}');
    var PERIODICS = JSON.parse('{{ args.periodics|tojson }}');
    var SECTIONS = JSON.parse('{{ args.sections|tojson }}');
    var SECTION_TYPES = JSON.parse('{{ args.section_types|tojson }}');
    var SECTION_TYPE_KEYS = JSON.parse('{{ args.section_type_keys|tojson }}');
    var SEARCH_KEYS = JSON.parse('{{ args.search_keys|tojson }}');
    var SEARCHES = JSON.parse('{{ args.searches|tojson }}');
    var VFSES = [];
    var _VFSES = JSON.parse('{{ args.setting_rclone_remote_vfses.split('|')|tojson }}');
    for (idx in _VFSES) {
        VFSES.push({value: _VFSES[idx], name: _VFSES[idx]});
    }
    $(function() {
        init();
        $.getScript("{{ url_for('.static', filename='js/flaskfarmaider_schedule.js') }}")
    });
</script>
{% endblock %}
